{% extends 'base.html' %}
{% block title %}Admin::Login{% endblock %}
{%block content%}
<!--Section: Login Form-->

<div class="wrapper" >
    
    <div id="formContent">
    <br>
    <h2 class="textcolor"> Admin Login </h2>
    <br>
    <section class="mb-5 login-form">

        <form class="needs-validation" novalidate autocomplete="off" method="POST">
    
        <div class="md-form md-outline">
            <label data-error="wrong" data-success="right" for="login-email">Email</label>
            <input type="email" name="email" id="login-email" class="form-control">
        </div>
        <br>
        <div class="md-form md-outline">
            <label data-error="wrong" data-success="right" for="login-password">Password</label>
            <input type="password" name="password" id="login-password" class="form-control">
        </div>
        <br>
        {% for message in get_flashed_messages() %}
        <div class="flash alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-4">Sign in</button>
        </div>

        </form>
    
    </section>
    </div>
</div>
  <!--Section: Login Form-->

{%endblock%}