{% extends 'adminDashboard.html' %}

{% block dashContent %}
<h3 style="text-align: center;">Search teacher</h3>
<div class="container-fluid">
    <form class="d-flex" method="POST">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchValue">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <br>
    {% for message in get_flashed_messages() %}
        <div class="flash alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
    {%for teacher in teachers %}
        <div>{{teacher}}</div>
    {%endfor%}
</div>

{% endblock %}